PyQt5==5.15.2
pyside2==5.15.2
opencv-python==4.5.1.48
requests==2.24.0
PyAutoGUI==0.9.52
configparser==5.0.1
tensorflow==2.3.1
scikit-learn==0.23.2
nltk==3.5
SpeechRecognition==3.8.1
wget==3.2
dlib==19.21.1
pygame==2.0.0
imutils==0.5.3
geocoder==1.38.1
geolocation-python==0.2.2
cvlib==0.2.5
